/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #161b22;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  margin-bottom: 6px;
}

h1 {
font-size: 30px;
  color: white;
  font-family: 'ABeeZee', sans-serif;
  font-weight: lighter;
  margin-top: 50px;
  text-align: center;
}

 
  button.main{
    height: 40px;
    width: 100px;
    background-color: Transparent;
    border-radius: 5%;
        border: 1px solid #fff;;
  }
    button.main a{ 
 color: white;
      font-size: 20px;
      
  }
button.main:hover  {
  background-color: #FFB52E;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;    
}
a {
    text-decoration: none;
}
div.container {
    text-align: center;
  margin-top: 10px;
}
