body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, #00000050 3px, transparent 5px);
  pointer-events: none;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
pre {
  margin: 25px;
}
body {
  background-color: black;
  /* 92, 56, 17*/
  background-image: radial-gradient(rgba(54, 51, 44, 0.75), black 120%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}
